html{
  font-size: 16px;
}
.App{
  background: radial-gradient(728.50px at 50% 50%, #343956 0%, #2C324C 100%);
  /* min-height: 100vh; */
  /* height: 100vh; */
  min-height: calc(100vh - 100px);

  padding-bottom: 100px;
  overflow-x: hidden;

}
header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 0 calc(50% - 400px);
  background-color: #3F4869;
}
.logo{
  /* line-height: 100px; */
  font-size: 1.5rem;
  color: #fff;
  font-family: "Courier New", monospace;
}
header .btn{
  /* height: 30px; */
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  outline: 0;
  border: 0;
  background: #FFFFFF;
  opacity: 0.8;
  border-radius: 5px;
}
main{
  overflow-x: scroll;

}
.table{
  margin: auto;
  width: 100%;
  min-width: 600px;
  max-width: 800px;
  margin-top: 40px;
}

.table-head{
  margin-bottom: 15px;
}

button.sorting{
  font-size: 1.125rem;
  color: #FFF;
  opacity: 0.5;
  background: 0;
  border: 0;
  text-align: left;
  position: relative;
  outline: 0;
}
button.sorting:focus{
  color: #FFF;
  opacity: 1;
}
.arrow{
  opacity: 0.3;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translate(4px);
  border: 5px solid #fff0;
  border-bottom: 5px solid #fff;
  transition-duration: 0.3s;
  transform-origin: 50% 80%;
}
button.sorting:hover > .arrow{
  opacity: 1;
}
.arrowDown{
  transform: translate(4px) rotate(180deg);
}
@media (max-width: 600px) {
    main{
      zoom: 75%;

    }
    header{
      height: 60px;
      padding: 10px;
    }
}
@media (max-width: 500px) {
    main{
      zoom: 60%;

    }
}
@media (max-width: 350px) {
    main{
      zoom: 50%;

    }
}
